@import url(../node_modules/normalize.css/normalize.css);
/**********************

      1#VARAIBLES

  **********************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**********************

      2#NAVIGATION

  **********************/
nav {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #FFF;
  opacity: .75;
}

nav:after {
  content: " ";
  display: block;
  clear: both;
}

nav ul {
  margin: 0;
  padding-left: 0;
}

nav li {
  list-style-type: none;
}

nav li a {
  display: block;
}

.logo {
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.item {
  width: 12.5%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.icon {
  width: 4.16667%;
  float: right;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

.logo a {
  width: 112px;
  padding-top: 7px;
}

.item, .icon {
  text-align: center;
}

.item a, .icon a {
  display: block;
  height: 50px;
}

.item a {
  padding-top: 15px;
  color: #101010;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.item .active {
  color: #fff;
  background: #f93f00;
  background: linear-gradient(to bottom, #f93f00 0%, #840100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93f00', endColorstr='#840100',GradientType=0 );
}

.icon a {
  padding-top: 10px;
  background: #ffffff;
}

/**********************

      3#HEADER

  **********************/
body {
  background: #202020;
  color: white;
}

header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/header.jpg) no-repeat center;
  background-size: cover;
  height: 375px;
  overflow: auto;
  border-bottom: 2px solid #b70900;
}

header:after {
  content: " ";
  display: block;
  clear: both;
}

header h1 {
  max-width: 298px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

header h1:after {
  content: " ";
  display: block;
  clear: both;
}

/**********************

      4#DECOUVRIR

  **********************/
.decouvrir {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.decouvrir:after {
  content: " ";
  display: block;
  clear: both;
}

.decouvrir img {
  display: block;
  margin: 80px 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.decouvrir img:after {
  content: " ";
  display: block;
  clear: both;
}

.yt, .tw {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  height: 50px;
  padding-top: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.yt:hover, .tw:hover {
  color: #eee;
}

.yt {
  background-color: #d42627;
}

.tw {
  background-color: #663398;
}

/**********************

      5#REGARDER

  **********************/
.regarder {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
  background: #404040;
  border-bottom: 2px solid #b70900;
}

.regarder:after {
  content: " ";
  display: block;
  clear: both;
}

.video, .separator {
  height: 180px;
}

.video {
  width: 23.07692%;
  float: left;
  padding-left: 0.76923%;
  padding-right: 0.76923%;
  background-image: url(../img/video.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.separator {
  width: 7.69231%;
  float: left;
  padding-left: 0.76923%;
  padding-right: 0.76923%;
}

/**********************

      6#JOUER

  **********************/
.jouer {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.jouer:after {
  content: " ";
  display: block;
  clear: both;
}

/**********************

      7#SUIVRE

  **********************/
/**********************

      8#FOOTER

  **********************/
footer {
  background-color: #303030;
  height: 250px;
}

footer section {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

footer section:after {
  content: " ";
  display: block;
  clear: both;
}

.tsquote {
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */