@import '../node_modules/susy/sass/susy';
@import '../node_modules/normalize.css/normalize.css';

  /**********************

      1#VARAIBLES

  **********************/

  $width: 100%;
  $m_width: 700px;

  $susy: (
    container: $width,
    columns: 12,
    gutter-position: inside,
/*  debug: (
 image: show,
) */
  );

  @include border-box-sizing;
  $red:#b70900;


  /**********************

      2#NAVIGATION

  **********************/

  nav {
    position: fixed;
    width:100%;
    background: #FFF;
    @include container;
  }

  li {
    list-style-type:none;
    a {
      color: #101010;
      font-size: 18px;
      text-decoration:none;
      text-transform: uppercase;
    }
  }

  .logo { @include span(3); }

  .item { @include span(1.5); text-align:center;}

  .icon { @include span(0.5 last); }


  /**********************

      3#HEADER

  **********************/

  body {
    background: #202020;
    color: white;
  }

  header {
    @include container;
    background: url(../img/header.jpg) no-repeat center;
    background-size:cover;
    height: 375px;
    overflow:auto;
    border-bottom: 2px solid $red;
    h1 {
      @include container (298px);
      margin-top: 120px;
    }
  }


  /**********************

      4#DECOUVRIR

  **********************/

  .decouvrir {
    @include container($m_width);
    margin-top: 100px;
    font-size: 19px;
    line-height:30px;
    text-align:center;
    img {
      display:block;
      margin: 80px 0;
      @include container;
    }
    .yt {
      background: #d42627;
    }
    .tw {
      background: #663398;
    }
    button {
      @include span(6);
      height: 50px;
      border:none;
      text-transform: uppercase;
      font-weight:bold;
    }
  }


  /**********************

      5#REGARDER

  **********************/

  .regarder {
    @include container;
    padding: 50px 0;
    background:#404040;
    border-bottom: 2px solid $red;
    .video {
      @include span(2);
      height: 180px;
      background: url(../img/video.jpg);
    }
  }
