/**********************

    0#IMPORT

**********************/

// External lib
@import '../node_modules/susy/sass/susy';
@import '../node_modules/normalize.css/normalize.css';

// Project specific
@import '../font/montserrat.css';

  /**********************

      1#VARAIBLES

  **********************/

  // Color
  $red         : #b70900;
  $orange      : #f93f00;
  $darkred     : #840100;
  $gris        : #202020;
  $lightgrey   : #303030;
  $lightergrey : #404040;
  $youtube     : #d42627;
  $twitch      : #663398;

  // Font family
  $montserrat          : 'montserratregular';
  $montserrat_light    : 'montserratlight';
  $montserrat_semibold : 'montserratregular';
  $montserrat_bold     : 'montserratsemi_bold';

  // Container width
  $width: 100%;
  $m_width: 700px;

  // Some Susy layout settings
  $susy: (
    container: $width,
    columns: 12,
    gutter-position: inside,

    // debug: (
    //  image: show,
    // )
  );

  $video: (
    columns: 13,
    gutter-position: inside
  );

  //  http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  // Glorious * { Box-sizing: Border-box } FTW
  @include border-box-sizing;


  /**********************

      2#RESET & General Page Settings

  **********************/

  body {
    background: $gris;
    color: white;
    font-family: $montserrat, sans-serif;
  }

  .decouvrir, .jouer, .suivre, .footer-container {
    @include container($m_width);
  }

  /**********************

      3#NAVIGATION

  **********************/

  nav {
    @include container;
    position: fixed;
    width:100%;
    height: 50px;
    background: #FFF;

    ul {
      // Reset ul for inline use
      margin: 0;
      padding-left: 0;
    }

    li {
      list-style-type:none;

      a {
        display: block;
      }
    }

  }

  // Navbar Susy column settings
  .logo { @include span(3); }

  .item { @include span(1.5); }

  .icon { @include span(0.5 last); }

  // Specific rules for each nav items
  .logo {
    a {
      width: 112px;
      padding-top: 7px;
    }
  }

  .item, .icon {
    text-align: center;
    a {
      display: block;
      height: 50px;
    }
  }

  .item {
    a {
      padding-top: 15px;
      color: #101010;
      font-size: 18px;
      text-decoration:none;
      text-transform: uppercase;
    }

    .active{
      color: #fff;
      background: $orange;
      background: linear-gradient(to bottom, $orange 0%,$darkred 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange', endColorstr='$darkred',GradientType=0 );
    }

  }

  .icon {
    a {
      padding-top: 10px;
      background: #ffffff;
    }

    img {
      color: $darkred;
    }
  }


  /**********************

      4#HEADER

  **********************/

  header {
    @include container;
    background: url(../img/header.jpg) no-repeat center;
    background-size:cover;
    height: 375px;
    overflow:auto;
    border-bottom: 2px solid $red;

    h1 {
      @include container (298px);
      margin-top: 120px;
    }
  }


  /**********************

      5#DECOUVRIR

  **********************/

  .decouvrir {
    margin-top: 100px;
    font-size: 19px;
    line-height:30px;
    text-align:center;

    .decouvrir-arrowdown {
      display:block;
      width: 100px;
      height: 100px;
      margin: 80px 0;
      @include container;
    }

    a {
      color: #fff;
    }

    .decouvrir-youtube:hover {
      color: $youtube;
    }

    .decouvrir-autre:hover, .decouvrir-server:hover {
      color: #ddd;
    }
  }

  .yt, .tw {
    position: relative;
    z-index: -1;
    @include span(6);
    height: 50px;
    padding-top: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ddd;
    }

    img {
      position: absolute;
    }

  }

  .yt {
    background-color: $youtube;

    img {
      width: 45px;
      left: 70px;
    }
  }

  .tw {
    background-color: $twitch;

    img {
      width: 30px;
      right: 95px;
    }
  }


  /**********************

      6#REGARDER

  **********************/

  .regarder {
    @include layout($video)
    @include container;
    padding: 50px 0;
    background: $lightergrey;
    border-bottom: 2px solid $red;
  }

  .separator, #player1, #player2, #player3 {
    height: 230px;
  }

  .separator {
    @include span(1);
  }

  #player1, #player2, #player3 {
    @include span(3);
  }

  /**********************

      7#JOUER

  **********************/

  .jouer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .jeux {
    font-size:18px;
    text-transform: uppercase;
    cursor:pointer;
  }

  .jeux:not(:last-child):after { content:" / "; }

  .j-active { color: $red; }

  table {
    margin-top:30px;
    border-collapse: separate;
    th {
      padding:10px;
      background:$red;
      text-transform:uppercase;
      border-right: 10px solid $gris;
    }
    td {
      padding-top:10px;
    }
    .sname { text-align:left; }

    .infos {
      text-align:center;
      border-right:10px solid $gris;

      img {
        width: 20px;
      }
    }
  }



  /**********************

      8#SUIVRE

  **********************/

  .suivre {
    padding: 10px 0;
  }

  /**********************

      9#FOOTER

  **********************/

  footer {
    padding: 10px 0;
    background-color: $lightgrey;
    height: 250px;
  }

  .tsquote {
    font-style: italic;
  }
