@import '../node_modules/susy/sass/susy';
@import '../node_modules/normalize.css/normalize.css';

  /**********************

      1#VARAIBLES

  **********************/

  $width: 100%;
  $m_width: 700px;

  $susy: (
    container: $width,
    columns: 12,
    gutter-position: inside,

    // debug: (
    //  image: show,
    // )

  );

  $video: (
    columns: 13,
    gutter-position: inside
  );

  @include border-box-sizing;
  $red:#b70900;
  $gris: #202020;


  /**********************

      2#NAVIGATION

  **********************/

  nav {
    @include container;
    position: fixed;
    width:100%;
    height: 50px;
    background: #FFF;

    ul {
      // Reset of ul for inline use
      margin: 0;
      padding-left: 0;
    }

    li {
      list-style-type:none;

      a {
        display: block;
      }
    }

  }

  // Navbar Susy column settings
  .logo { @include span(3); }

  .item { @include span(1.5); }

  .icon { @include span(0.5 last); }

  // Specific rules for each nav items
  .logo {
    a {
      width: 112px;
      padding-top: 7px;
    }
  }

  .item, .icon {
    text-align: center;
    a {
      display: block;
      height: 50px;
    }
  }

  .item {
    a {
      padding-top: 15px;
      color: #101010;
      font-size: 18px;
      text-decoration:none;
      text-transform: uppercase;
    }

    .active{
      color: #fff;
      background: #f93f00;
      background: linear-gradient(to bottom, #f93f00 0%,#840100 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93f00', endColorstr='#840100',GradientType=0 );
    }

  }

  .icon {
    a {
      padding-top: 10px;
      background: #ffffff;
    }
  }


  /**********************

      3#HEADER

  **********************/

  body {
    background: $gris;
    color: white;
  }

  header {
    @include container;
    background: url(../img/header.jpg) no-repeat center;
    background-size:cover;
    height: 375px;
    overflow:auto;
    border-bottom: 2px solid $red;

    h1 {
      @include container (298px);
      margin-top: 120px;
    }
  }


  /**********************

      4#DECOUVRIR

  **********************/

  .decouvrir {
    @include container($m_width);
    margin-top: 100px;
    font-size: 19px;
    line-height:30px;
    text-align:center;
    img {
      display:block;
      margin: 80px 0;
      @include container;
    }

  }

  .yt, .tw {
    @include span(6);
    height: 50px;
    padding-top: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #eee
    }

  }

  .yt {
    background-color: #d42627;
  }

  .tw {
    background-color: #663398;
  }


  /**********************

      5#REGARDER

  **********************/

  .regarder {
    @include layout($video)
    @include container;
    padding: 50px 0;
    background:#404040;
    border-bottom: 2px solid $red;
  }

  .separator, #player1, #player2, #player3 {
    height: 230px;
  }

  .separator {
    @include span(1);
  }

  #player1, #player2, #player3 {
    @include span(3);
  }

  /**********************

      6#JOUER

  **********************/

  .jouer {
    @include container($m_width);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .jeux {
    font-size:18px;
    text-transform: uppercase;
    cursor:pointer;
  }

  .jeux:not(:last-child):after { content:" / "; }

  .j-active { color: $red; }

  table {
    margin-top:30px;
    border-collapse: separate;
    th {
      padding:10px;
      background:$red;
      text-transform:uppercase;
      border-right: 10px solid $gris;
    }
    td {
      padding-top:10px;
    }
    .sname { text-align:left; }

    .infos {
      text-align:center;
      border-right:10px solid $gris;
    }
  }



  /**********************

      7#SUIVRE

  **********************/



  /**********************

      8#FOOTER

  **********************/

  footer {
    background-color: #303030;
    height: 250px;
    section {
      @include container($m_width);
    }
  }

  .tsquote {
    font-style: italic;
  }
