@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'rubik';
    font-style: normal;
    font-display: optional;
    src: url('/assets/fonts/Rubik-VariableFont_wght.ttf') format('opentype');
  }
  @font-face {
    font-family: 'Grandstander';
    font-style: normal;
    font-display: optional;
    src: url('/assets/fonts/Grandstander-VariableFont_wght.ttf') format('opentype');
  }
}
