@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Stole it from a CSS tricks */
.pretty-link {
    background:
    linear-gradient(to right,var(--color-primary),var(--color-secondary)),
    linear-gradient(to right,var(--color-accent), var(--color-secondary), var(--color-primary));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 150ms;
}

.pretty-link:hover {
    background-size: 0 2px, 100% 2px;
}