@import "tailwindcss";
@source inline("input-xs input-sm input-md input-lg input-xl");
@plugin "daisyui" {
  themes: all;
}

@theme { 
  --inset-shadow-md: inset 0px 6px 3px rgba(0, 0, 0, 1);
}

/* inset 0 2px 4px var(--tw-inset-shadow-color, rgb(0 0 0 / 0.05)) */

/* Stole it from a CSS tricks */
.pretty-link {
    background:
    linear-gradient(to right,var(--color-primary),var(--color-secondary)),
    linear-gradient(to right,var(--color-accent), var(--color-secondary), var(--color-primary));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 150ms;
}

.pretty-link:hover {
    background-size: 0 2px, 100% 2px;
}